// Content home
.content-home {
  .post {
    padding: 15px 20px;
    color: $text-color;
    overflow: hidden;
    &:nth-child(even) {
      background-color: white;
    }
    &:nth-child(odd) {
      background-color: #f5f5f5;
    }
    .featured-image {
      width: 100px;
      height: 100px;
    }
    .featured-image, .summary-data {
      float: left;
    }
    .featured-image {
      overflow: hidden;
      img {
        @include transition( all 0.3s );
        &:hover {
          @include transform-scale( 1.1 );
        }
      }
    }
    .summary-data {
      width: calc(100% - 100px);
      padding: 0 15px;
    }
    .title {
      h2 {
        margin: 0 0 10px 0;
        text-transform: uppercase;
        a {
          color: #2b2f33;
          font-size: 2.3rem;
          @include transition(all 0.2s);
          &:hover, &:active, &:focus {
            text-decoration: none;
            color: lighten( #2b2f33, 20% );
            outline: none;
          }
        }
      }
    }
    .author, .date {
      color: #285473;
      p {
        font-size: 1.4rem;
        i {
          font-size: 1.4rem;
          color: #99b1c6;
        }
      }
    }
  }
}