// Content Search
.content-search {
  padding: 20px 20px 0 20px;
  .header-search {
    color: #2a5885;
    border-bottom: 1px solid #2a5885;
    margin: 0 0 20px;
    .title-search {
      font-size: 2.8rem;
      margin: 0 0 10px;
      span {
        font-size: 2.8rem;
      }
    }
  }
  .post {
    position: relative;
    left: -20px;
    width: calc(100% + 40px);
    padding: 15px 20px;
    &:nth-child(even) {
      background-color: #f5f5f5;
    }
    &:nth-child(odd) {
      background-color: white;
    }
    .featured-image {
      float: left;
      width: 100px;
      height: 100px;
      overflow: hidden;
      img {
        @include transition( all 0.3s );
        &:hover {
          @include transform-scale( 1.1 );
        }
      }
    }
    .summary-data {
      float: right;
      width: calc( 100% - 100px );
      padding-left: 15px;
      .title {
        h2 {
          margin: 0 0 10px 0;
          text-transform: uppercase;
          a {
            color: #2b2f33;
            font-size: 2.3rem;
            @include transition(all 0.2s);
            &:hover, &:active, &:focus {
              text-decoration: none;
              color: lighten( #2b2f33, 20% );
              outline: none;
            }
          }
        }
      }
      .author, .date {
        color: #285473;
        p {
          font-size: 1.4rem;
          i {
            font-size: 1.4rem;
            color: #99b1c6;
          }
        }
      }
    }
  }
  .nothing-matched {
    padding-bottom: 20px;
  }
}