// Colors
$header-article-color: #2a5885;
$text-color: #000;

// Sizes
$box-padding: 20px;

// Content page
.content-page {
  padding: $box-padding;
  .post {
    font-size: 1.6rem;
    color: black;
    .title {
      color: $header-article-color;
      border-bottom: 1px solid $header-article-color;
      margin: 0 0 20px 0;
      h1 {
        font-size: 2.8rem;
        margin: 0 0 10px 0;
      }
    }
    .featured-image {
      margin: 0 0 10px 0;
      text-align: center;
      overflow: hidden;
      img {
        max-width: 100%;
        height: auto;
        @include transition( all 0.3s );
        &:hover {
          @include transform-scale( 1.1 )
        }
      }
    }
    .content {
      font-family: 'Roboto', sans-serif;
    }
  }
}