// Content single
.content-single {
  .post {
    color: black;
    overflow: hidden;
    .title {
      padding: 20px 20px 0;
      color: #2a5885;
      margin: 0 0 10px;
      h1 {
        border-bottom: 1px solid #2a5885;
        margin: 0 0 10px;
        font-size: 2.8rem;
        text-transform: uppercase;
        padding-bottom: 10px;
      }
    }
    .data {
      margin-bottom: 20px;
      padding: 0 20px;
      .author, .date, .tags {
        display: inline-block;
        margin-right: 20px;
        font-size: 1.4rem;
        color: #285473;
        i {
          color: #99b1c6;
        }
      }
      .tags {
        a {
          color: $text-color;
        }
      }
    }
    .social-sharing-buttons {
      padding: 0 20px 15px;
      font-size: 20px;
      text-align: center;
      a {
        padding: 6px 10px;
        display: inline-block;
        color: white;
        border-radius: 50%;
        margin: 0 10px;
        position: relative;
        top: 2.5px;
        width: 40px;
        height: 40px;
        @include transition(all 0.2s);
      }
      a.facebook-button {
        background-color: $facebook-color;
        &:active, &:hover {
          background-color: lighten($facebook-color, 10%);
        }
      }
      a.twitter-button {
        background-color: $twitter-color;
        &:active, &:hover {
          background-color: lighten($twitter-color, 10%);
        }
      }
      a.google-plus-button {
        background-color: $google-plus-color;
        &:active, &:hover {
          background-color: lighten($google-plus-color, 10%);
        }
      }
    }
    .featured-image {
      float: left;
      margin: 0 20px 20px;
    }
    .content {
      color: $text-color;
      font-size: 1.4rem;
      font-family: 'Roboto', sans-serif;
      p {
        padding-right: 20px;
        padding-left: 20px;
      }
      .song {
        clear: both;
        padding: 15px 20px;
        &:nth-child(even) {
          background-color: $bg-color-lighten;
        }
        &:nth-child(odd) {
          background-color: $white;
        }
        .controls {
          float: left;
          .play-button, .pause-button, .download-button {
            width: 40px;
            height: 40px;
            background: url(../images/player-sprite.png) no-repeat;
            padding: 0;
            margin: 0;
            border: none;
            background-color: transparent;
            float: left;
            &:focus {
              outline: none;
            }
          }
          .play-button {
            background-position: -42px 0;
          }
          .pause-button {
            background-position: -1px -1px;
            display: none;
          }
          .download-button {
            background: url(../images/player-sprite-dl.png) no-repeat;
            background-position: -42px 0;
            margin-left: 5px;
          }
        }
        .labels {
          margin: 0 40px 0 100px;
          font-size: 13px;
          position: relative;
          .title-song {
            color: $h2-color;
            font-weight: bold;
            text-transform: uppercase;
          }
          .data-song {
            font-style: italic;
          }
          .time-total {
            position: absolute;
            right: -40px;
            top: 50%;
            @include transform-translate(0, -50%);
          }
        }
      }
    }
  }
}