// Content 404
.content-404 {
  padding: 20px;
  .header-404 {
    color: #2a5885;
    border-bottom: 1px solid #2a5885;
    margin: 0 0 20px;
    .title-404 {
      font-size: 2.8rem;
      margin: 0 0 10px;
    }
  }
  .post {
    font-size: 1.6rem;
    color: black;
    font-family: 'Roboto', sans-serif;
    @import "../header/header-search-form";
    .search-form-header {
      height: 50px;
      @media all and (max-width: 768px){
        height: 50px;
        left: 0;
      }
    }
  }
}