// Music Theme Colors
$blue: #507299;
$blue-darken: #305075;
$blue-lighten: #c4d4e6;

$white: #fff;
$bg-color: #edeef0;
$active-menu-color: #F1F1F1;

$bg-color: #edeef0;
$bg-color-lighten: #F2F3F5;

$grey: #d7d8db;
$border-color: #A9A9A9;
$bs-color: #ababab;
$text-color: #939393;
$bg-button-color: #656565;
$h2-color: #444;
$h1-color: #444;

$brand-color: #507299;
$brand-color-dark: #305075;
$url-color: #2a5885;
$text-color: #656565;
$button-color: #656565;
$header-color: #000;
$background-box-color: white;
$border-input-color: #A9A9A9;
$text-shadow-header-color: rgba(0, 0, 0, .2);
$box-shadow: rgba(0, 0, 0, .1);

$facebook-color: #3b5998;
$twitter-color: #00aced;
$google-plus-color: #d34836;

// General colors
$a-color: #2a5885;
