// Loader
#loaderAjax {
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform-translate( -50%, -50% );
  }
}