// MAIN CONTENT
.main-content {
  background-color: $white;
  box-shadow: 0 0 5px 0 $bs-color;
  // Content home
  @import "content/content-home";

  // Content single
  @import "content/content-single";

  // Content page
  @import "content/content-page";

  // Content search
  @import "content/content-search";

  // Content 404
  @import "content/content-404";

  // Content front
  @import "content/content-front";
}








