// MAIN HEADER
.main-header {
  position: relative;
  // WP module
  #wp-custom-header {
    position: absolute;
    height: 120px;
    overflow: hidden;
    width: 100%;
    @media all and (max-width: 768px) {
      height: 155px;
    }
  }
  // Data site
  @import "header/header-data-site";

  // Search form
  @import "header/header-search-form";

  // Main nav
  @import "header/header-main-nav";

  // Player data
  @import "header/header-player-data";

  // Fixed header
  @import "header/header-fixed";
}