@mixin transform-translate($x, $y) {
  -moz-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -webkit-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin transform-scale( $value ) {
  -moz-transform: scale( $value );
  -o-transform: scale( $value );
  -ms-transform: scale( $value );
  -webkit-transform: scale( $value );
  transform: scale( $value );
}

@mixin transition( $transition ) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin animation($param) {
  -webkit-animation: $param; /* Safari 4.0 - 8.0 */
  -moz-animation: $param; /* Fx 5+ */
  -o-animation: $param; /* Opera 12+ */
  animation: $param;
}