// Dependencies
@import "../../bower_components/bootstrap/dist/css/bootstrap.css";
@import "../../bower_components/font-awesome/scss/font-awesome";

// Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Core application
@import "colors";
@import "mixins";

// Bootstrap custom
.container {
  //padding: 0;
  @media all and (min-width: 1200px) {
    width: 1000px !important;
  }
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding: 0;
}

// Wordpress
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

nav.navigation.pagination {
  margin: 0 auto;
  display: block;
  width: 300px;
  .nav-links {
    text-align: center;
    .page-numbers, .current {
      background-color: $blue;
      display: inline-block;
      padding: 5px 10px;
      color: $white;
      margin: 20px 0;
    }
    .current {
      background-color: $blue-darken;
    }
  }
}

// Facebook
.fb-comments-container {
  padding: 20px;
}

// General Styles
html {
  font-size: 10px;
  @media all and (max-width: 576px) {
    font-size: 8.5px;
  }
}

body, html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $bg-color;
  a {
    color: $a-color;
    &:focus {
      outline: none;
    }
  }
}
// Loader
@import "loader";

// Main header
@import "main-header";

// Main content
@import "main-content";

// Main footer
@import "main-footer";

