// Player container
.player-container {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  display: none;
  z-index: 666;
  .player {
    max-width: 1000px;
    margin: auto;
    position: relative;
    height: 35px;
    box-sizing: content-box;
    background-color: $blue;
    padding: 5px 0;
    .left-controls {
      position: absolute;
      left: 20px;
      top: 50%;
      width: 63px;
      height: 27px;
      padding: 3px;
      background-color: $blue-darken;
      @include transform-translate(0, -50%);
      .download-button, .stop-button {
        color: $blue;
        position: absolute;
        width: 28px;
        height: 21px;
        border: none;
        box-shadow: 0 0 2px $bs-color;
        background-color: $blue-lighten;
        &:focus {
          outline: none;
        }
        &:active {
          box-shadow: 0 1px 3px $bs-color inset;
        }
      }
      .download-button {
        font-size: 13px;
        left: 3px;
        border-radius: 2px 0 0 2px;
        i {
          position: relative;
          top: 2px;
          left: 8px;
        }
      }
      .stop-button {
        font-size: 11px;
        right: 3px;
        border-radius: 0 2px 2px 0;
      }
    }
    .center-controls {
      position: absolute;
      width: 74px;
      height: 34px;
      left: 50%;
      top: 50%;
      padding: 3px;
      background: url(../images/bg-center-controls.png) no-repeat;
      @include transform-translate(-50%, -50%);
      .prev-button, .play-button, .next-button, .pause-button {
        color: $blue-darken;
        position: absolute;
        border-radius: 2px;
        border: none;
        box-shadow: 0 0 2px $bs-color;
        &:focus {
          outline: none;
        }
        &:active {
          box-shadow: 0 1px 3px $bs-color inset;
        }
      }
      .prev-button, .next-button {
        background-color: $blue-lighten;
        width: 20px;
        height: 18px;
        top: 8px;
        padding: 0;
        font-size: 9px;
      }
      .prev-button {
        left: 3px;
      }
      .play-button, .pause-button {
        width: 28px;
        height: 28px;
        background-color: white;
        left: 50%;
        z-index: 3;
        font-size: 14px;
        @include transform-translate(-50%, 0);
        i {
          position: relative;
          left: 2px;
        }
      }
      .pause-button {
        display: none;
        i {
          position: relative;
          left: 0;
        }
      }
      .next-button {
        right: 3px;
      }
    }
    .right-controls {
      position: absolute;
      right: 20px;
      top: 50%;
      width: 130px;
      @media all and (max-width: 768px) {
        width: 100px;
      }
      @include transform-translate(0, -50%);
      .volume-button {
        width: 20px;
        height: 20px;
        border: none;
        background-color: transparent;
        background: url(../images/volume.png) no-repeat 0 -75px;
        &:focus {
          outline: none;
        }
      }
      .volume-control {
        position: absolute;
        width: 100px;
        height: 4px;
        background-color: $blue-darken;
        cursor: pointer;
        top: 50%;
        right: 0;
        border-radius: 2px;
        @media all and (max-width: 768px) {
          width: 70px;
        }
        .ui-slider-range.ui-corner-all.ui-widget-header.ui-slider-range-min {
          background-color: $blue-lighten;
          height: 4px;
          border-radius: 2px;
        }
        span.ui-slider-handle.ui-corner-all.ui-state-default {
          width: 10px;
          height: 10px;
          background-color: white;
          position: absolute;
          top: -3px;
          border-radius: 50%;
          margin-left: -5px;
          box-shadow: 0 0 2px $bs-color;
          &:active {
            background-color: $bg-color;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  .player-time {
    max-width: 1000px;
    margin: auto;
    position: relative;
    height: 5px;
    box-sizing: content-box;
    background-color: $blue;
    .ui-slider-range.ui-corner-all.ui-widget-header.ui-slider-range-min {
      background-color: $blue-lighten;
      height: 5px;
      border-radius: 2px;
      z-index: 2;
      position: absolute;
    }
    span.ui-slider-handle.ui-corner-all.ui-state-default {
      width: 10px;
      height: 10px;
      background-color: white;
      position: absolute;
      top: -3px;
      margin-left: -5px;
      box-shadow: 0 0 2px $bs-color;
      cursor: pointer;
      z-index: 3;
      &:active {
        background-color: $bg-color;
      }
      &:focus {
        outline: none;
      }
    }
    span.buffer {
      height: 5px;
      width: 0;
      background-color: $blue-darken;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}







