// Main nav
.main-nav {
  height: 55px;
  background-color: white;
  border-radius: 0;
  border: none;
  box-shadow: 0 0 5px $bs-color;
  margin: 0;
  position: relative;
  z-index: 999;
  @media all and (max-width: 768px){
    background-color: transparent;
    box-shadow: none;
    position: absolute;
    top: -50px;
  }
  .navbar-toggle {
    float: left;
    background-color: $bg-button-color;
    border-color: $border-color;
    border-radius: 0;
    margin-left: 8px;
    @include transition(all 0.3s linear);
    &:hover, &:active, &:focus {
      background-color: $bg-button-color;
    }
    .icon-bar {
      background-color: white;
    }
  }
  .navbar-collapse {
    padding: 0;
    border: none;
    @media all and (max-width: 768px) {
      padding: 0 15px;
    }
    #top-menu {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      @media all and (max-width: 768px) {
        position: relative;
        top: -3px;
        border-bottom: 5px solid $blue
      }
      li {
        background-color: white;
        a {
          padding: 17.5px;
          color: black;
        }
        .dropdown-menu {
          padding: 0;
          background-color: #e7e7e7;
          border: none;
          text-transform: capitalize;
          box-shadow: none;
          li {
            a {
              &:hover {
                text-decoration: underline;
                background: none;
              }
            }
          }
        }
      }
      .active {
        a {
          background-color: $active-menu-color !important;
          color: $brand-color !important;
        }
      }
    }
  }
}