// Data site
.data-site {
  position: relative;
  margin: 0;
  height: 100px;
  // WP module
  .logo-header {
    position: absolute;
    top: 50%;
    display: none;
    @include transform-translate(0, -50%);
  }
  .name-description {
    color: white;
    position: absolute;
    top: 50%;
    @include transform-translate(0, -50%);
    h1 {
      color: white;
      font-weight: normal;
      text-shadow: 0 1px 1px $grey;
      font-size: 36px;
      line-height: 36px;
      text-transform: uppercase;
      margin: 0;
    }
    p {
      text-transform: uppercase;
      text-shadow: 0 1px 1px $grey;
      margin: 0;
    }
  }
}