// Player data
.player-data {
  max-width: 1000px;
  margin: auto;
  position: relative;
  box-sizing: content-box;
  background-color: $blue;
  padding: 10px 0;
  font-size: 12px;
  font-weight: bold;
  color: white;
  height: 15px;
  display: none;
  .time-lapsed, .time-total {
    color: #c4d4e6;
  }
  .time-lapsed {
    position: absolute;
    left: 20px;
  }
  .song-name {
    position: absolute;
    left: 50%;
    width: 350px;
    height: 20px;
    overflow: hidden;
    text-align: center;
    @include transform-translate(-50%, 0);
    @include animation(movement 10s infinite);
    @media all and (max-width: 600px){
      width: 300px;
    }
    @media all and (max-width: 500px){
      width: 200px;
    }
    @media all and (max-width: 400px) {
      width: 150px;
    }
  }
  .add-points {
    &::after {
      content: '...';
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .time-total {
    position: absolute;
    right: 20px;
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes movement {
  0% {
    left: 60%;
    opacity: 1;
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 1;
  }
  50% {
    left: 40%;
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}

/* Standard syntax */
@keyframes movement {
  0% {
    left: 60%;
    opacity: 1;
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 1;
  }
  50% {
    left: 40%;
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}