// Search form header
.search-form-header {
  height: 100px;
  position: relative;
  z-index: 1000;
  @media all and (max-width: 768px){
    height: 50px;
    left: 60px;
  }
  .form-group {
    position: absolute;
    top: 50%;
    width: 100%;
    @include transform-translate(0, -50%);
    label {
      display: none;
    }
    #s {
      padding: 5px 10px;
      border: 1px solid $border-color;
      border-radius: 0;
    }
  }
  .submit {
    color: white;
    padding: 5px 10px;
    background-color: $bg-button-color;
    position: absolute;
    right: 0;
    top: 50%;
    border-radius: 0;
    border: 2px solid $bg-button-color;
    box-sizing: border-box;
    @include transform-translate(0, -50%);
  }
}