// Header fixed
.header-fixed {
  background-color: $blue;
  position: fixed;
  z-index: 9999;
  width: 100%;
  padding: 10px;
  top: 0;
  display: none;
  box-shadow: 0 0 5px 0 $bs-color;
  @media all and (max-width: 768px) {
    padding: 5px;
  }
  .logo-header {
    float: left;
    height: 50px;
    a {
      img {
        height: 50px;
        width: auto;
      }
    }
    .site-description {
      color: white;
      font-weight: bold;
      float: right;
      margin-top: 13px;
      margin-left: 20px;
    }
    @media all and (max-width: 768px) {
      width: 50%;
    }
  }
  .search-form-header {
    float: right;
    width: 400px;
    height: 50px;
    .submit {
      @media all and (max-width: 768px) {
        font-size: 20px;
      }
    }
    @media all and (min-width: 1170px) {
      width: 600px;
    }
    @media all and (max-width: 768px) {
      left: 0;
      width: 50%;
    }
  }
}